<p id="notice"><%= notice %></p>

<h1>Avis offres</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Objet</th>
      <th>Condition</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avis_offres.each do |avis_offre| %>
      <tr>
        <td><%= avis_offre.title %></td>
        <td><%= avis_offre.purpose %></td>
        <td><%= avis_offre.condition %></td>
        <td><%= avis_offre.description %></td>
        <td>
          <%= link_to avis_offre.image.filename, avis_offre.image if avis_offre.image.attached? %>
          <%= image_tag avis_offre.image.variant(resize_to_limit: [100, 100]) if avis_offre.image.attached? %> 
        </td>
        <td><%= link_to 'Show', avis_offre %></td>
        <td><%= link_to 'Edit', edit_avis_offre_path(avis_offre) %></td>
        <td><%= link_to 'Destroy', avis_offre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New avis_offre', new_avis_offre_path %>
