<p id="notice"><%= notice %></p>


<td><%= link_to 'Ajouter structure', new_structure_registration_path %></td>
<h1>Structures</h1>

<table>
  <thead>
    <tr>
      <th>Alias</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @structures.each do |structure| %>
      <tr>
        <td><%= structure.alias %></td>
        <td><%= structure.email %></td>
        <td><%= link_to 'Show', structure %></td>
        <td><%= link_to 'Destroy', structure_path(structure)	, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

