<!-- app/views/structures/new.html.erb -->
<h1>Inscription Structure</h1>

<%= form_for(@structure) do |f| %>
  <%= f.label :alias %>
  <%= f.text_field :alias %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :mot_de_passe %>
  <%= f.password_field :password %>

  <%= f.label :confirmer_mot_de_passe %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "S'inscrire" %>
<% end %>
