<!-- app/views/utilisateurs/new.html.erb -->
<h1>Inscription Utilisateur</h1>

<%= form_for(@utilisateur) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :mot_de_passe %>
  <%= f.password_field :password %>

  <%= f.label :confirmer_mot_de_passe %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "S'inscrire" %>
<% end %>
