<h2>Connexion</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-floating mt-4 ">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control", id: "inputEmail" %>
  </div>

  <div class="form-floating mt-4 ">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" ,class: "form-control", id: "inputPassword" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-floating mt-4 ">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="form-floating mt-4 mb-4 submit ">
    <%= f.submit "Connexion" , class: "btn btn-success"%>
  </div>
<% end %>

<div class="shared_link">
  <div >
    <%= link_to "Se connecter en tant que structure ?", new_structure_session_path , class: "btn btn-success"%>
  </div>
</div>  

<div class="shared_link">
  <div style="margin-top:15px;", class="">
    <%= render "users/shared/links" %>
  </div>
</div>  





