<%= form_with(model: profile_structure, local: true) do |form| %>
  <% if profile_structure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile_structure.errors.count, "error") %> prohibited this profile structure from being saved:</h2>

      <ul>
        <% profile_structure.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div  class="form-floating mt-4 ">
    <%= form.label :name %>
    <%= form.text_field :name , class: "form-control", id: "inputNom"%>
  </div>

  <div  class="form-floating mt-4 ">
    <%= form.label :localisation %>
    <%= form.text_field :localisation , class: "form-control", id: "inputLocalisation"%>
  </div>

  <div  class="form-floating mt-4 ">
    <%= form.label :slogan %>
    <%= form.text_field :slogan , class: "form-control", id: "inputSlogan"%>
  </div>

  <div class="form-floating mt-4 ">
    <%= form.label :statut %>
    <%= form.text_field :statut , class: "form-control", id: "inputStatut"%>
  </div>

  <div  class="form-floating mt-4 ">
    <%= form.label :numero %>
    <%= form.text_field :numero , class: "form-control", id: "inputNumero"%>
  </div>

  <div  class="form-floating mt-4 ">
    <%= form.label :email %>
    <%= form.text_field :email , class: "form-control", id: "inputEmail"%>
  </div>
  
  <div  class="form-floating mt-4 ">
    <%= form.label :image %>
    <%= form.file_field :image, class: "form-control", id: "inputImage" %>
  </div>

  <div  class="form-floating mt-4 ">
    <%= form.label :description %>
    <%= form.text_area :description , class: "form-control", id: "inputDescription" %>
  </div>

  <%= form.hidden_field :structure_id, value: current_structure.id %>


  <div class="form-floating mt-4 mb-4 submit ">
    <%= form.submit "Mettre à jour" , class: "btn btn-success"%>
  </div>
<% end %>
