<h1>Utilisateurs</h1>
<%if !user_signed_in? %>
  <% if user_signed_in? && current_user.try(:admin?) %>
      <td><%= link_to 'Ajouter utilisateur', new_user_registration_path , class:"mb-5 button btn btn-info"%></td>
  <% end %>
<% end %>




<br>

<div class="mb-4">
  <%= search_form_for @q do |f| %>
    <div class="form-group">
      <%= f.label :name_cont, "Nom" %>
      <%= f.search_field :name_cont, class: "form-control", placeholder: "Titre" %>
  </div>

    <%= f.submit "Rechercher", class: "btn btn-primary" %>
  <% end %>
</div>




<div class="content">
        <div class="col-md-12 container  mx-auto table-responsive">
            <table class=" mt-5">
                <thead>
                    <tr>
                        <th class="gauche" scope="col">Nom</th>
                        <th scope="col" class="milieu">Email</th>
                        <th scope="col">Admin</th>
                        
                        <!-- <th scope="col">Statut</th> -->
                        <th class="droite" scope="col">Actions</th>
                    </tr>


                </thead>

                <tbody>
                  <% @users.each do |user| %>
                    <tr >
                        <td><%= user.name %></td>
                        <td> <%= user.email %></td>
                        <td>
                           <% if user.admin.present? %>
                            <%= user.admin %>
                           <% else %>
                           false
                           <%end%> 
                        </td>
                        <td>
                          <span>
                            <%= link_to update_admin_user_path(user), method: :patch, remote: true  do%>
                              <i class="fas fa-edit edit"></i>
                            <% end %>
                          </span>

                          <span>
                            <%= link_to user_path(user) , data: { confirm: "本当に削除しますか?"}, method: :delete, remote: true  do%>
                              <i class="fas fa-trash delete "></i>
                            <% end %>
                          </span>     

                          <span>
                            <%= link_to profile_user_path(user)  do%>
                              <i class="fas fa-eye "></i>
                            <% end %>
                          </span>                   
                        </td>
                        <!-- <td>thththththththththththththththththththththt</td> -->
            

                    </tr>
                  <% end %>
                </tbody>
            </table>
            <div class="pag" style="font-size: 18px; color: black;">
                
            </div>
        </div>       
</div>
<div class="pagination">
    <%= paginate @users%>
</div>    