<h2>Changer votre mot de passe</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-floating mt-4 ">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" ,class: "form-control", id: "inputPassword" %>
  </div>

  <div class="form-floating mt-4 ">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control", id: "inputPassword" %>
  </div>

  <div class="form-floating mt-4 mb-4 submit ">
    <%= f.submit "Change my password" , class: "btn btn-success"%>
  </div>
<% end %>

<div class="shared_link">
    <%= render "structures/shared/links" %>
</div>
