<%= form_with(model: annonce, local: true) do |form| %>
  <% if annonce.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(annonce.errors.count, "error") %> prohibited this annonce from being saved:</h2>

      <ul>
        <% annonce.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating mt-4 ">
    <%= form.label :title %>
    <%= form.text_field :title , placeholder: "Entrer le titre...", class: "form-control", id: "inputTitle"%>
  </div>

  <div class="form-floating mt-4 ">
    <%= form.label :purpose %>
    <%= form.text_field :purpose , placeholder: "Entrer l'objet...", class: "form-control", id: "inputPurpose"%>
  </div>
  
  <div class="form-floating mt-4 ">
    <%= form.label :image %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="form-floating mt-4 ">
    <%= form.label :description %>
    <%= form.text_area :description , placeholder: "Entrer la description...", class: "form-control", id: "inputDescription"%>
  </div>

  <%= form.hidden_field :structure_id, value: current_structure.id %>

  <div class="form-floating mt-4 submit">
    <%= form.submit "Créer", class: "btn btn-success"%>
  </div>
<% end %>
