<h2>Annonce</h2>
<%= link_to 'Ajouter annonce', new_annonce_path , class:" btn btn-info" %>


<div class="row mt-5 mb5">
      <% @annonces.each do |annonce| %>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <div class="second_style">
                  <%= image_tag annonce.image.variant(resize_to_limit: [100, 800]) if annonce.image.attached? %> 
                </div>
                <h5 class="card-title">
                   <%= annonce.title %>
                </h5>
                <p class="card-text">
                    <%= annonce.purpose %>
                </p>
                <div class="gosomwhere">
                    <%= link_to 'Voir', annonce , class:" btn btn-info" %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
</div>


<div style="margin-top: 5%; ">  
  <%= link_to "Back", :back, class:"back btn btn-info" %>
</div> 

