<%= form_with(model: avis_offre, local: true) do |form| %>
  <% if avis_offre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(avis_offre.errors.count, "error") %> prohibited this avis_offre from being saved:</h2>

      <ul>
        <% avis_offre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :objet %>
    <%= form.text_field :purpose %>
  </div>

   <div class="field">
    <%= form.label :condition %>
    <%= form.text_field :condition %>
  </div>
  
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%= form.hidden_field :structure_id, value: current_structure.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
