<h2>Inscription</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  

  <div class="form-floating mt-4 ">
    <label for="inputName">Nom</label>
    <%= f.text_field :name, placeholder: "Entrer votre nom...", class: "form-control", id: "inputName" %>
  </div>  


  <div class="form-floating mt-4 ">
    <label for="inputName">Email</label>
    <%= f.text_field :email, placeholder: "Entrer votre email...", class: "form-control", id: "inputEmail" %>
  </div>



  <div class="form-floating mt-4 ">
    <label for="inputName">Preferences</label>
    <%= f.collection_check_boxes :activite_ids, Activite.all, :id, :name, class: "form-control", id: "inputPreference" %>
  </div>

  

  <div class="form-floating mt-4 ">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "inputPassword"%>
  </div>

  <div class="form-floating mt-4 ">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "inputPassword" %>
  </div>

  <div class="form-floating mt-4 mb-4 submit ">
    <%= f.submit "Inscription" , class: "btn btn-success"%>
  </div>
<% end %>

<div class="shared_link">
    <%= render "users/shared/links" %>
</div>
